div{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
table{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin:10px;
}

table tr td{
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
}