html{
	font-size: 10px;
}

body{
	font-family: 'Roboto', sans-serif;
	min-width: 320px;
}

h1{
	font-size: 6rem;
	font-weight: 700;
	max-width: 700px;
	text-transform: uppercase;
	margin:34px 0 39px 0;
}

h2{
	font-size: 3rem;
	font-weight: 500;
	max-width: 670px;
	text-transform: uppercase;
}
h2.small-title-h2{
	max-width: 470px;
}

.blue-gradient{
  background: -moz-linear-gradient( 90deg, rgb(14,71,156) 0%, rgb(43,97,217) 100%), #296396;
  background: -webkit-linear-gradient( 90deg, rgb(14,71,156) 0%, rgb(43,97,217) 100%), #296396;
  background: -ms-linear-gradient( 90deg, rgb(14,71,156) 0%, rgb(43,97,217) 100%), #296396;
  transition: background-color .5s;
}
.blue-gradient:hover{
	cursor: pointer;
}


.header{
	width: 100%;
	height: 60px;	
}

.header .logotype{
	height: 60px;
	position: relative;
}

.header .logotype img{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}