*{
	margin:0;
	padding: 0;
}
body{ 
	background-color: #F6F6F6;
}
.book-bg{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}
.content{
	font-family: Arial, sans-serif;
	position: absolute;
	top:55%;
	left:55%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.random-text{
	font-size: 60px;
	color:#333;
	font-weight: 700;
	z-index: 5;
	position: relative;

}
.random-btn{
	padding: 10px 7px;
	border:none;
	border-radius: 5px;
	background-color: #4A6AA6;
	color:#fff;
	display: inline-block;
	text-decoration: none;
	margin-top:25px;
	z-index: 100;
	position: relative;
	font-size: 12px;
}

.setting{
	margin: 10px auto;
	outline: 0px solid red;
	width: 200px;
	font-size: 12px;

}
.setting .count{
	display: block;
	margin-top:10px;
}
.setting input{
	padding: 5px 7px;
	max-width: 40px;
	border-radius: 3px;
	border:none;
	outline: none;
	font-size: 9px;

}

.range{
	display: flex;
	justify-content: space-around;
}

.size{
	margin-top:10px;
}


@keyframes size {
from {transform: scale(1);}
50% {transform: scale(2);}
to {transform: scale(1.8);}
}
