
.modal-window{
	position: absolute;
	top:50px;
	left:50%;
	transform: translateX(-50%);
	padding: 35px 133px 31px 133px;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	max-width: 755px;
	display: none;
}

.modal-window .switch{
	list-style: none;
	font-size: 0;
}
.modal-window .switch li{
	display: inline-block;
	font-size: 16px;
	width: 164px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color:#333;
	font-size: 14px;
	background-color: #f9f9f9;
}

.modal-window .switch li:hover{
	cursor: pointer;
}

.modal-window .switch li:first-child{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.modal-window .switch li:last-child{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.modal-window .switch li.active-switch{
	background-color: #46ce81;
	color:#fff;
}
.form-registration{
	margin-top:74px;
	font-size: 0px;
	display:none;
}

.form-registration input{
	width: 392px;
	padding: 16px 0 14px 43px;
	border-radius: 5px;
	border: 1px solid #686868;
	outline: none;
	margin-bottom: 28px;

}
.form-registration input.small-input{
	width: 182px;
	display: inline-block;

}
input.small-input:nth-child(2){
	margin-left: 28px;
}

.form-registration .form-button{
	border-radius: 15px;
	color:#fff;
	display: block;
	padding: 21px 48px 19px;
	border:none;
	outline: none;
	background: linear-gradient(to top, rgba(30, 174, 145, 0.45), rgba(247, 237, 84, 0.45)), #14cf8b;
	font-weight: 700;
	margin: 0 auto;
	transition: background .2s;
}

.form-registration .form-button:hover{
	background: linear-gradient(to top, rgba(30, 174, 145, 0.45), rgba(247, 237, 84, 0.45)), #11B376;
	cursor: pointer;
}

.show{
	display: block; 
}


